<a href="https://colab.research.google.com/github/bmanisha7/data690_manisha/blob/main/assignment_07/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In-class Practice session 7
- Name: Manisha
- Date: 10/14/2021

In [10]:
import pandas as pd
import plotly
import plotly.graph_objects as go
print("Plotly Version:",plotly)

print(pd.__version__)

Plotly Version: <module 'plotly' from '/usr/local/lib/python3.7/dist-packages/plotly/__init__.py'>
1.1.5

In [3]:
df = pd.read_csv('/content/wdi_data.csv')
df.head(10)

   Unnamed: 0  Year  ...         Income Group Lending Type
0           0  2015  ...           Low income          IDA
1           1  2016  ...           Low income          IDA
2           2  2017  ...           Low income          IDA
3           3  2018  ...           Low income          IDA
4           4  2019  ...           Low income          IDA
5           5  2020  ...           Low income          IDA
6           6  2015  ...  Upper middle income         IBRD
7           7  2016  ...  Upper middle income         IBRD
8           8  2017  ...  Upper middle income         IBRD
9           9  2018  ...  Upper middle income         IBRD

[10 rows x 9 columns]

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)
#df_new = df.drop(columns=['Unnamed: 0'])
df.head()

   Year        value          indicator  ...      Region Income Group Lending Type
0  2015  2087.305323  NY.GDP.PCAP.PP.CD  ...  South Asia   Low income          IDA
1  2016  1981.118069  NY.GDP.PCAP.PP.CD  ...  South Asia   Low income          IDA
2  2017  2058.400221  NY.GDP.PCAP.PP.CD  ...  South Asia   Low income          IDA
3  2018  2082.635648  NY.GDP.PCAP.PP.CD  ...  South Asia   Low income          IDA
4  2019  2152.366489  NY.GDP.PCAP.PP.CD  ...  South Asia   Low income          IDA

[5 rows x 8 columns]

In [9]:
#df_ind = df.query() 
df_ind = df[df['Country Code']=='IND']
df_ind

      Year         value  ...         Income Group Lending Type
462   2015  5.464859e+03  ...  Lower middle income         IBRD
463   2016  5.839865e+03  ...  Lower middle income         IBRD
464   2017  6.182922e+03  ...  Lower middle income         IBRD
465   2018  6.675361e+03  ...  Lower middle income         IBRD
466   2019  6.997864e+03  ...  Lower middle income         IBRD
467   2020  6.454347e+03  ...  Lower middle income         IBRD
1556  2015  6.860700e+01  ...  Lower middle income         IBRD
1557  2016  6.889700e+01  ...  Lower middle income         IBRD
1558  2017  6.916500e+01  ...  Lower middle income         IBRD
1559  2018  6.941600e+01  ...  Lower middle income         IBRD
1560  2019  6.965600e+01  ...  Lower middle income         IBRD
2671  2015  1.310152e+09  ...  Lower middle income         IBRD
2672  2016  1.324517e+09  ...  Lower middle income         IBRD
2673  2017  1.338677e+09  ...  Lower middle income         IBRD
2674  2018  1.352642e+09  ...  Lower middle income         IBRD
2675  2019  1.366418e+09  ...  Lower middle income         IBRD
2676  2020  1.380004e+09  ...  Lower middle income         IBRD
3809  2015  1.230000e+01  ...  Lower middle income         IBRD
3810  2016  1.210000e+01  ...  Lower middle income         IBRD
3811  2017  1.200000e+01  ...  Lower middle income         IBRD
3812  2018  1.260000e+01  ...  Lower middle income         IBRD
3813  2019  1.270000e+01  ...  Lower middle income         IBRD

[22 rows x 8 columns]

In [ ]:
df_ind_gdp = df_ind.query("indicator == ")

In [ ]:
fig = go.Figure()
trace_0 = go.Bar(
    data_frame= df_ind_query("")
)